body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
}
h1 {
  color: blue;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 10px;
}

ul li {
  margin: 0 15px;
  
}

ul li a {
  text-decoration: none;
  padding: 5px 10px;
  text-align: center;
  background-color: rgb(7, 19, 29);
  color: red;
}

ul li a:hover {
  color: white;
  background-color: antiquewhite;
}