body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
}
h1 {
  color: blue;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 10px;
}

ul li {
  margin: 0 15px;
  
}

ul li a {
  text-decoration: none;
  padding: 5px 10px;
  text-align: center;
  background-color: rgb(7, 19, 29);
  color: red;
}

ul li a:hover {
  color: white;
  background-color: rgb(53, 35, 13);
}

input[type="text"] {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
}

input::placeholder {
  color: gray;
  font-style: italic;
  font-size: 18px;
}

button {
  padding: 10px 15px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

#block-section {
  display: block;
  width: 50%;
  padding: 20px;
  background-color: #f0f0f0;
  margin-top: 20px;
}